body{
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color:seashell;
    opacity: 0.7;
}
header{
    position: fixed;
    height: 69px;
    width:100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    top: -0px;
    z-index:10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 50px;
    margin-left: 10px;

}

nav {
    list-style-type: none;

  }
nav li{
    display: inline-block;
    text-decoration: underline;
    padding: auto 10px;
    margin: auto 20px;
}
a{
    color:seashell;
} 

#OurMission{
    background-image: url(./resources/img-mission-background.jpeg);
    background-size: cover;
    max-width:auto;
    height: 700px;
    display: block;
    margin: 0 auto;
}
.h2h4{
    text-align: center;
    background-color: black;
    width: 100%;
    
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
#TeaOfTheMonth{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.box img{
    height: 200px;
    width: 300px;
}
.box{
    margin: 10px;
    text-align: center;
    display: inline-block;
}

#locations{
    height: 500px;
    max-width:1200px;
    width: auto;
    background-image: url(./resources/img-locations-background.jpeg);
    margin: 0 auto;
    background-size: cover;
    overflow  : auto;
    /*
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    */
    display:grid;
    grid-template: 0.5fr 1fr 5fr 1fr/1fr;
    grid-template-areas:"Empty"
                        "tittle"
                        "locs";
    justify-items:center;
    justify-content:center;
    align-items:start;
}

#locations h2{
    grid-area: tittle;
}

.l_container{
    grid-area: locs;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;
    align-self:start;
}

.l_box{
    width: 300px;
    height:290px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 20px;
}

.l_box h3, .l_box h4{
    margin: 20px;
    text-align: center;
}

.contact{
    display: block;
    height: 200px;
    text-align: center;
}
.contact h5{
    margin: 40px auto;
}

.contact h2{
    margin: 10px auto;    
}

.copyright{
    margin-left: 20px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
  }